# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.next
out
coverage

# env
.env
.env.*.local
!.env.example

# logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# prisma
**/prisma/*.db
