services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: novacms
      POSTGRES_PASSWORD: novacms
      POSTGRES_DB: novacms
    ports:
      - "5432:5432"
    volumes:
      - novacms_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:RELEASE.2024-05-10T01-41-38Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - novacms_minio:/data

volumes:
  novacms_pg:
  novacms_minio:
